// Header left right padding
.header-area {
        @media #{$md}{
            box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
        }
        @media #{$sm}{
            box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
        }
        @media #{$xs}{
            box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
        }
    //! Top
    .header-top{
        padding: 11px 0px;
        .header-info-left{
            ul{
                li{
                    color: #cdcfd8;
                    display: inline-block;
                    margin-right: 33px;
                    padding-right: 33px;
                    border-right: 1px solid #cdcfd8;
                    font-size: 14px;
                    line-height: 1;
                    @media #{$md}{
                        border-right: 0;
                    }
                    @media #{$sm}{
                        border-right: 0;
                    }
                    @media #{$xs}{
                        border-right: 0;
                    }
                    &:last-child{
                        border-right: 0;
                        margin-right: 0;
                        padding-right: 0px;
                        @media #{$md}{
                            display: none;
                        }
                        @media #{$sm}{
                            display: none;
                        }
                        @media #{$xs}{
                            display: none;
                        }
                    }
                    span{
                       margin-right: 8px;
                       color: #ff2143;
                    }
                    &.title{
                        text-transform: uppercase;
                    }
                }
            }
        }
        .header-info-right{
            .header-date{
                li{
                    color: #cdcfd8;
                    display: inline-block;
                    font-size: 14px;
                    
                     span{
                        color:#cdcfd8;
                        font-size: 13px;
                        margin-right: 8px;
                    }
                }
            }
            
        }
    }
    //! Mid
    .header-mid{
        padding: 9px 0px;
        position: relative;

        .header-banner{
            img{
                width: 100%;
            }
        }
    }
    //! Bottom
    .header-bottom{
        box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.1);
        background: #ff2143;
        @media #{$sm}{
            border-top: 0;
        }
        @media #{$xs}{
            border-top: 0;
        }
        .header-social{
                display: inline-block;
                padding: 27px 30px;
                position: relative;
                @media #{$lg}{
                    padding: 27px 12px;
                }
                &::before {
                    content: "";
                    width: 1px;
                    height: 101%;
                    background: #ff889a;
                    position: absolute;
                    left: 0;
                    top: 0px;
                    bottom: 0;
                }
                &::after {
                    content: "";
                    width: 1px;
                    height: 101%;
                    background: #ff889a;
                    position: absolute;
                    right: 0;
                    top: 0px;
                    bottom: 0;
                }
            li{
                display: inline-block;
                & a{
                    color:#fff;
                    font-size: 16px;
                    padding: 0 11px;
                    &:hover{
                        color: #fff;
                    }
                }
            }
        }
        // Social Hover Effect
        .header-social a i {
            @include transition(.4s);
            transform: rotateY(0deg);
            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
        }
        .header-social a:hover i {
            transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
        }
        // End Effect

        .search-box {
            display: inline-block;
            position: relative;
            &::before{
                content: "";
                width: 1px;
                height: 104%;
                background: #ff889a;
                position: absolute;
                right: 0px;
                top: -1px;
                bottom: 0;
            }
            i {
                color: #fff;
                font-size: 16px;
                cursor: pointer;
                padding: 30px 30px;
            }
        }
    }

}

//! Header Bottom
.main-header{
    position: relative;
    z-index: 3;
    .main-menu{
        @media #{$laptop}{
           margin-right: 30px;
        }
         ul{
             li{
                display: inline-block;
                position: relative;
                z-index: 1;
                 a{
                    color: #fff;
                    font-weight: 500;
                    padding: 27px 25px;
                    @media #{$lg}{
                        padding: 28px 19px;
                    }
                    // @image #{$md}{
                    //     padding: 20px 15px;
                    // }
                    display: block;
                    font-size: 15px;
                    @include transition(.3s);
                    text-transform: uppercase;
                    position: relative;
                    &::before {
                        content: "";
                        width: 1px;
                        height: 14px;
                        background: #fff;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                }
            }
            &:last-child{
               a{
                    &::before {
                        display: none;
                    }
               }
            }
            &:first-child{
               a{
                    padding-left: 0;
               }
            }
            &:hover{
                & > a{
                    color:#fff;
                }
            }
            }
            & ul.submenu{
                position: absolute;
                width: 170px;
                background: #fff;
                left: 0;
                top: 100%;
                transform: scale(0.9);
                visibility: hidden;
                opacity: 0;
                box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
                padding: 17px 0;
                // border-top: 5px solid $theme-color;
                @include transition(.3s);
                & > li{
                    margin-left: 7px;
                    display: block;
                    & > a{
                        padding: 6px 10px !important;
                        font-size: 15px;
                        color: #0b1c39;
                        text-transform: capitalize;
                        &:hover{
                            color:$theme-color;
                            background: none;
                        }
                        & i{
                            // @include transition(.4s);
                        }
                    }
                } 
            }
        }
    }
    // Search box icon style 
    .nav-search {
        display: inline-block;
        position: relative;
        &::before{
            content: "";
            width: 1px;
            height: 104%;
            background: #ff889a;
            position: absolute;
            right: 0px;
            top: -1px;
            bottom: 0;
        }
        i {
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            padding: 30px 30px;
        }
    }
}
// Menu Hover Show SubMenu Style
.main-header ul > li:hover > ul.submenu {
	visibility: visible;
    opacity: 1;
    top: 101%;
    transform: scale(1);
}
 

// header Sticky Responsive
.header-sticky ul li a {
	padding: 10px 19px;
}

.header-sticky.sticky-bar.sticky .header-flex{
    justify-content: space-between;
}

.header-sticky.sticky-bar.sticky .main-menu .submenu{
    @media #{$md}{
        right: 0;
        left: inherit;
    }
}


//!  Modal Style 
.search-model-box {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    z-index: 99999;
    .search-model-form {
        padding: 0 15px;
        input {
            width: 500px;
            font-size: 40px;
            border: none;
            border-bottom: 2px solid #333;
            background: none;
            color: #999;
        }
    }
    .search-close-btn {
        position: absolute;
        width: 50px;
        height: 50px;
        background: #333;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        font-size: 28px;
        line-height: 28px;
        top: 30px;
        cursor: pointer;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

//! Mobile Menu
.mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 99;
    top: -15px;
    .slicknav_menu {
        background: transparent;
        margin-top: 0px !important;
        .slicknav_btn {
            top: -32px;
            right: 10px;
            // mobile Menu button color
            .slicknav_icon-bar {
                background-color: #fff !important;
            }
        }
        .slicknav_nav{
            margin-top: 9px !important;
            box-shadow: 0 0 10px 3px rgba(141, 140, 140, 0.5);
            a:hover {
                background: transparent;
                color: $theme-color;
            }
            a {
                font-size: 15px;
                padding: 7px 10px;
            }
            // Dropdown Menu button Padding None
        .slicknav_item a {
                padding: 0 !important;
            }
        }
    }
}

// Sticky  Menu
    .header-sticky.sticky-bar.sticky .header-right-btn {
        display: none !important;
    }  
    .header-sticky.sticky-bar.sticky .sticky-logo {
        // display: block !important;
    }
    .sticky-logo {
        display: none !important;
        @media #{$sm}{
            display: block !important;
        }
        @media #{$xs}{
            display: block !important;
        }

    }
//   
.sticky-logo.info-open {
	padding: 6px;
}
